# *.ttf filter=lfs diff=lfs merge=lfs -text
# *.font filter=lfs diff=lfs merge=lfs -text
# *.fontdef filter=lfs diff=lfs merge=lfs -text
# *.pcf filter=lfs diff=lfs merge=lfs -text
# *.jpg filter=lfs diff=lfs merge=lfs -text
# *.png filter=lfs diff=lfs merge=lfs -text
# *.imageset filter=lfs diff=lfs merge=lfs -text
# *.tga filter=lfs diff=lfs merge=lfs -text
# *.layout filter=lfs diff=lfs merge=lfs -text
# *.looknfeel filter=lfs diff=lfs merge=lfs -text
# *.scheme filter=lfs diff=lfs merge=lfs -text
# *.xsd filter=lfs diff=lfs merge=lfs -text
# *.project filter=lfs diff=lfs merge=lfs -text
# *.dds filter=lfs diff=lfs merge=lfs -text
# *.fx filter=lfs diff=lfs merge=lfs -text
# *.fxproj filter=lfs diff=lfs merge=lfs -text
# *.program filter=lfs diff=lfs merge=lfs -text
# *.source filter=lfs diff=lfs merge=lfs -text
# *.material filter=lfs diff=lfs merge=lfs -text
# *.psd filter=lfs diff=lfs merge=lfs -text
# *.mesh filter=lfs diff=lfs merge=lfs -text
# *.skeleton filter=lfs diff=lfs merge=lfs -text
# *.RepX filter=lfs diff=lfs merge=lfs -text
# *.scene filter=lfs diff=lfs merge=lfs -text
# *.anims filter=lfs diff=lfs merge=lfs -text